In [118]:
import numpy as np
import pandas as pd
import json
import pymongo
from clean_table import get_all_possible_keys, dict_to_df
path = '/media/flo/Stockage/Data/MesAides/'

In [2]:
%qtconsole
%matplotlib inline

/usr/local/lib/python3.4/dist-packages/IPython/parallel.py:13: ShimWarning: The `IPython.parallel` package has been deprecated. You should import from ipyparallel instead.
  "You should import from ipyparallel instead.", ShimWarning)

## Mongo db

In [3]:
from pymongo import MongoClient
import bson

In [4]:
client = MongoClient('localhost', 27017)
db = client['MesAides']
collection = db['situations']
#collection = db['test-collection']

In [5]:
bson_file = open(path + 'situations.bson', 'rb')
b = bson.decode_all(bson_file.read())

In [ ]:
collection.insert(b)

In [5]:
input_data = db.situations
data = pd.DataFrame(list(input_data.find()))

In [6]:
data.head(2)

,__v,_id,_updated,dateDeValeur,email,individus,logement,mobilierValue,patrimoine,phoneNumber,ressourcesYearMoins2Captured,rfr,status,token
0,3,53cd46e76e5e3202000f4616,NaN,2014-07-15,NaN,"[{'dateDeNaissance': 1954-09-14 00:00:00, '_id...","{'membreFamilleProprietaire': True, 'loyer': 1...",NaN,"{'revenusDuCapital': [], 'revenusLocatifs': []}",NaN,NaN,NaN,test,NaN
1,3,53cd48556e5e3202000f4624,NaN,2014-07-15,NaN,"[{'dateDeNaissance': 1984-09-14 00:00:00, '_id...","{'loyer': 123, 'primoAccedant': False, 'type':...",NaN,"{'revenusDuCapital': [], 'revenusLocatifs': []}",NaN,NaN,NaN,test,NaN

## Clean Data

In [114]:
t_individus = dict_to_df(data.individus)

110198 / 110199

In [116]:
t_logements = dict_to_df(data.logement)

110198 / 110199

In [117]:
t_patrimoine = dict_to_df(data.patrimoine)

110199 / 110199

### Dump

t_individus.to_csv(path + 'tables/individus.csv')
t_logements.to_csv(path + 'tables/logements.csv')
t_patrimoine.to_csv(path + 'tables/patrimoines.csv')